extends layout

block content
  h1= title
  a(href="/") Home 

  form(method="POST" action="/new")
    label
    |  Author:
    br
    input(type="text", name="messageAuthor")
    br    
    |  Text: 
    br
    input(type="text", name="messageText")   
    br 
    input(type="submit", value="Submit" class="centered")


