extends layout

block content
  h1= title
  
  form(method="POST" action="/new")
    label
    |  Author:
    input(type="text", name="author")    
    |  Text: 
    input(type="text", name="text")    
    input(type="submit", value="Submit")


